*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    text-align: center;
    align-items: center;
}
header{
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    /* font-weight: bold; */
}
#click{
    animation: bounce 2s infinite;
}
@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
}
40% {
    transform: translateY(-55px);
}
60% {
    transform: translateY(-45px);
}
}
header #click{
    margin-top: 6vw;
    padding: 3vw;
}
.welcome{
    padding: 25px;
}
.logo{
    margin-top: 10vw;
}
.services{
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-size: 200%;
    color: white;
    /* opacity: 0.9; */
}
.deter{
    padding-bottom: 10vw;
}
.valuables{
    padding-top: 5vw;
}
.contacts{
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    max-height: fit-content;
    color: white;
    height: 40vw
}
button{
    color: white;
    background-color: green;
    padding: 4px;
    border: none;
    border-radius: 10px;
}
button:hover{
    box-shadow: 2px 2px red;
    color: red;
}
a{
    cursor: progress;
}
#actions img:hover{
    cursor: pointer;
}
#design{
    display: none;
}
#development{
    display: none;
}
#management{
    display: none;
}
h5{
    display: none;
    color: black;
    border: 2px white;
    padding: 10px;
}
input[type=text] {
    background-image: inherit;
    border: 0.05px solid white ;
}
input[type=email] {
    background-image: inherit;
    border: 0.05px solid white ;
}
#textarea {
    background-image: inherit;
    border: 0.05px solid white;
}
@media only screen and (max-width: 1024px){
    form input, form textarea{
    width: 100%;
    margin: 5px 0;
}
    form input[type=submit]{
    width: auto;
    padding: 0 15%;
}
}