*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    text-align: center;
    align-items: center;
}
header{
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-size: 100%;
    background-repeat: none;
    color: white;
}
.logo{
    margin-top: 20vw;
}
